*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.hero
{
    height: max-content;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url(backg_2.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}
.form-box
{
    width: 380px;
    height: 580px;
    position: relative;
    margin: 6% auto;
    background: transparent;
    padding: 5px;
    overflow: hidden;
}
.button-box
{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px rgb(1, 253, 43);
    border-radius: 30px;
}
.toggle-btn
{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn
{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #07cf00,#01b327);
    border-radius: 30px;
    transition: .5s;
}
.input-group
{
    top: 110px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field
{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 3px solid rgb(0, 0, 0);
    outline: none;
    background: transparent;
}
.submit-btn
{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #09ff00,#00ff40);
    border: 0;
    outline: none;
    border-radius: 30px;
}
.check-box
{
    margin: 30px 10px 20px 0;
}
span
{
    color: rgb(0, 0, 0);
    font-size: 15px;
    bottom: 54px;
    position: absolute;
}
#user
{
    left: 50px;
}
#owner
{
    left: 450px
}
.menu-bar
{
    background: rgb(0, 75, 13);
    text-align: center;
}
.menu-bar ul
{
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.menu-bar ul li
{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a
{
    text-decoration: none;
    color: #fff;
}
.active, .menu-bar ul li:hover
{
    background: #00ff40;
    border-radius: 3px;
}
.logo
{
    position: absolute;
    width: 200px;
    height: 150px;
}
.logo img
{
    width: 70%;
    height: auto;
}