<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home Page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
   
</head>
<body>
     
    <div class ="menu-bar">
        <ul>
            <li><a href="/homepage">HOMEPAGE</a></li>
            <li><a href="/signin">SIGN IN</a></li>
            <li><a href="/signup">SIGN UP</a></li>
            <li><a href="/appointment">APPOINTMENT</a></li>
            <li><a href="/aboutus">ABOUT US</a></li>
            <li><a href="/contactus">CONTACT</a></li>
        </ul>
    </div>
    <div class="container1">
        <img src="/static/halısaha.jpg" alt="" class="Image1">
        <img src="/static/halısaha3.jpg" alt="" class="Image2">
        <img src="/static/halısaha2.jpg" alt="" class="Image3">
        
    </div>
    <div class="container2">
        <p class="Parag1">What is the Football <br> Appointment App</p>
        <p class="Soru">?</p>
        <p class="Parag">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        <br>   Minus dolorem similique eaque eius tempore cumque facere 
           quibusdam iusto <br> necessitatibus, nemo repellendus delectus  facilis tempora molestiae odio accusantium quis qui a.</p>
        
    </div>
    <div class="container3">
        <p class="Parag2">How gonna work</p>
        <img src="/static/Icon2.png" alt="" class="Icon1">
        <p class="Icon1Parag">
            Make an appointment</p>
            <img src="/static/Icon1.jpg" alt="" class="Icon2">
        <p class="Icon2Parag">
            Play football</p>
    </div>
</body>
</html>