{% block title %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_appointment.css')}}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Appointment</title>
{% endblock %}
{% block content %}
<nav>
  <div class="logo">
FMA</div>
<label for="btn" class="icon">
    <span class="fa fa-bars"></span>
  </label>
  <input class="input1" type="checkbox" id="btn">
  <ul>
<li><a href="/homepage">HOME</a></li>

<li>
      <label for="btn-2" class="show">Services +</label>
      <a href="/appointment">APPOINTMENT</a>
      <input class="input1" type="checkbox" id="btn-2">
      
</li>
<li><a href="/aboutus">ABOUT US</a></li>
<li><a href="/contactus">CONTACT US</a></li>
<li><a href="/myprofil">PROFILE</a></li>

    {% if  id != 0 %}
      <li><a href="/signout">Sign Out</a></li>
    {% endif %}
      {% if  id == 0 %}
      <li>
      <label for="btn-1" class="show">Features +</label>
      <a href="#">Sıgn In</a>
      <input class="input1" type="checkbox" id="btn-1">
      <ul>
        <li><a href="/signin">Sıgn In</a></li>
        <li><a href="/signup">Sıgn Up</a></li>
      </ul>
      </li>                                
    {% endif %}
</li>
</ul>
</nav>

<div class="select">
  <form  action="/appointment" method="POST">
    <select  name="selection">
    {% for area in areas  %}
    <option >{{area.City}}</option>
    {% endfor %}
    </select>
    <label style= "color: white; ">Select City</label>
    
    <input style=" margin-left:-165px; margin-top: 70px;" class="btn btn-primary btn-sm" type="submit" value="Select">
  </form>


</div>

    <div class="container">
        
        <table class="table table-hover table-dark">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">Photograph</th> 
              <th scope="col">Owner Name</th>
              <th scope="col">Owner Phone Number</th>
              <th scope="col">Football Area Name</th>
              <th scope="col">City</th>
              <th scope="col">Adress</th>
              <th scope="col">Appointment</th>
              <th scope="col">Like/Dislike</th>
              <th scope="col">Score</th> 
              
            </tr>
          </thead>
          {% if selection_city == "" %}
          <tbody>
            {% for area in areas  %}
                <tr>
                <th scope="row">{{area.id}}</th>
                <td><img src="/static/images/halısaha2.jpg" alt="" height="100" width="100" /> </td>
                
                <td>{{area.OwnerName}}</td>
                <td>{{area.OwnerNumber}}</td>
                <td>{{area.AreaName}}</td>
                <td>{{area.City}}</td>
                <td>{{area.adress}}</td>
                <td><a href="/bookAppointment/{{area.id}}" class="btn btn-success">Book Appointment  </a>
                <td><a href="/incrementlike/{{area.id}}"  class="btn btn-primary"> <i onclick="myFunction(this)" class="fa fa-thumbs-up"></i></a><a href="/decrementlike/{{area.id}}"  class="btn btn-primary"> <i onclick="myFunction(this)" class="fa fa-thumbs-down"></i></a></td>
                <td><p><a id="clicks">{{area.LikeCoun}}</a></p></td>  
                </tr>
                
                {% endfor %}
                
          </tbody>
            {% endif %}

            {% if selection_city != "" %}
          <tbody>
            {% for area in areas  %}
                {% if area.City == selection_city %}
                <tr>
                  <th scope="row">{{area.id}}</th>
                  <td><img src="/static/images/halısaha2.jpg" alt="" height="100" width="100" /> </td>
                  
                  <td>{{area.OwnerName}}</td>
                  <td>{{area.OwnerNumber}}</td>
                  <td>{{area.AreaName}}</td>
                  <td>{{area.City}}</td>
                  <td>{{area.adress}}</td>
                  <td><a href="/bookAppointment/{{area.id}}" class="btn btn-success">Book Appointment  </a>
                  <td><a href="/incrementlike/{{area.id}}"  class="btn btn-primary"> <i onclick="myFunction(this)" class="fa fa-thumbs-up"></i></a><a href="/decrementlike/{{area.id}}"  class="btn btn-primary"> <i onclick="myFunction(this)" class="fa fa-thumbs-down"></i></a></td>
                  <td><p><a id="clicks">{{area.LikeCoun}}</a></p></td>  
                  </tr>
                  {% endif %}
                  
            </tbody>
            {% endfor %}
            {% endif %}
        </table>


        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}

    