<!DOCTYPE html>
<html>
<head>
<title>Book Appointment</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/static/book_Appointment.css">
</head>
<body>

    <div class ="menu-bar">
        <ul>
            <li><a href="/homepage">HOMEPAGE</a></li>
            <li><a href="/signin">SIGN IN</a></li>
            <li><a href="/signup">SIGN UP</a></li>
            <li><a href="/appointment">APPOINTMENT</a></li>
            <li><a href="/aboutus">ABOUT US</a></li>
            <li><a href="/contactus">CONTACT</a></li>
            <li><a href="/myprofil">MyProfil</a></li>
        </ul>
    </div>
    <img src="/static/images/halısaha1.jpg" alt="" height="200" width="350"/> 
    <img src="/static/images/halısaha2.jpg" alt="" height="200" width="350"/>
    <img src="/static/images/halısaha4.jpg" alt="" height="200" width="350"/>
    <img src="/static/images/halısaha5.jpg" alt="" height="200" width="350"/>
    <div style=" color: white; margin-top: 70px;" class="container">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col"> Details</th>
                <th scope="col"> Hours</th>
                        
              </tr>
            </thead>
            <tbody>
              
              <td><h4 style="color: rgb(0, 255, 0);">Name</h4>
              <h4>{{area.AreaName}}</h4>
              <hr color="green">
              <h4 style="color:rgb(0, 255, 0);">Owner</h4>
              <h4>{{area.OwnerName}} </h4>
              <hr color="green">
              <h4 style="color: rgb(0, 255, 0);">Owner Number</h4>
              <h4>{{area.OwnerNumber}}</h4>
              <hr color="green">
              <h4 style="color:rgb(0, 255, 0);">City</h4>
              <h4>{{area.City}}</h4>
              <hr color="green">
              <h4 style="color: rgb(0, 255, 0);">Adress</h4>
              <h4>{{area.adress}}</h4>
              </td>
              <td>
                <a class="btn btn-primary">09.00-10.00</a>
                <br>
                <br>
                <a class="btn btn-primary">10.00-11.00</a>
                <br>
                <br>
                <a class="btn btn-primary">11.00-12.00</a>
                <br>
                <br>
                <a class="btn btn-primary">12.00-13.00</a>
                <br>
                <br>
                <a class="btn btn-primary">13.00-14.00</a>
                <a class="btn btn-success">Appointment</a>
                <br>
                <br>
                <a class="btn btn-primary">14.00-15.00</a>
                <br>
                <br>
                <a class="btn btn-primary">15.00-16.00</a>
                <br>
                <br>
                <a class="btn btn-primary">16.00-17.00</a>

              </td>
            </tbody>
        </table>
    </div>

    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


      
</body>
</html>
