<!DOCTYPE html>
<html>
<head>
<title>Book Appointment</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/static/book_Appointment.css">
</head>
<body>

  <nav>
    <div class="logo">
  FMA</div>
  <label for="btn" class="icon">
      <span class="fa fa-bars"></span>
    </label>
    <input class="input1" type="checkbox" id="btn">
    <ul>
  <li><a href="/homepage">HOME</a></li>
  
  <li>
        
        <a href="/appointment">APPOINTMENT</a>
        <input class="input1" type="checkbox" id="btn-2">
        
  </li>
  <li><a href="/aboutus">ABOUT US</a></li>
  <li><a href="/contactus">CONTACT US</a></li>
  <li><a href="/myprofil">PROFILE</a></li>
  
      {% if  id != 0 %}
        <li><a href="/signout">Sign Out</a></li>
      {% endif %}
        {% if  id == 0 %}
        <li>
        <label for="btn-1" class="show">Features +</label>
        <a href="#">Sıgn In</a>
        <input class="input1" type="checkbox" id="btn-1">
        <ul>
          <li><a href="/signin">Sıgn In</a></li>
          <li><a href="/signup">Sıgn Up</a></li>
        </ul>
        </li>                                
      {% endif %}
  </li>
  </ul>
  </nav>
    <img src="/static/images/halısaha1.jpg" alt="" height="200" width="350"/> 
    <img src="/static/images/halısaha2.jpg" alt="" height="200" width="350"/>
    <img src="/static/images/halısaha4.jpg" alt="" height="200" width="350"/>
    <img src="/static/images/halısaha5.jpg" alt="" height="200" width="350"/>
    <div style=" color: white; margin-top: 70px;" class="container">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col"> Details</th>
                <th scope="col"> Hours</th>
                        
              </tr>
            </thead>
            <tbody>
              
              <td><h4 style="color: rgb(0, 255, 0);">Name</h4>
              <h4>{{area.AreaName}}</h4>
              <hr color="green">
              <h4 style="color:rgb(0, 255, 0);">Owner</h4>
              <h4>{{area.OwnerName}} </h4>
              <hr color="green">
              <h4 style="color: rgb(0, 255, 0);">Owner Number</h4>
              <h4>{{area.OwnerNumber}}</h4>
              <hr color="green">
              <h4 style="color:rgb(0, 255, 0);">City</h4>
              <h4>{{area.City}}</h4>
              <hr color="green">
              <h4 style="color: rgb(0, 255, 0);">Adress</h4>
              <h4>{{area.adress}}</h4>
              </td>
              <td>
                {% if area.clocks[0].c10 == 0 %}
                <a  href="/fillcurrentclock/{{area.id}}/0" class="btn btn-primary">10.00 - 11.00</a>
                {% else %}
                <a class="btn btn-danger">10.00 - 11.00</a>
                {% endif %}
                
                {% if area.clocks[0].c18 == 0  %}
                <a href="/fillcurrentclock/{{area.id}}/8"  class="btn btn-primary"> 18.00 - 19.00</a>
                {% else %}
                <a class="btn btn-danger"> 18.00 - 19.00</a>
                {% endif %}
                <br>
                <br>
                {% if area.clocks[0].c11 == 0 %}
                <a  href="/fillcurrentclock/{{area.id}}/1" class="btn btn-primary">11.00 - 12.00</a>
                {% else %}
                <a class="btn btn-danger">11.00 - 12.00</a>
                {% endif %}

                {% if area.clocks[0].c19 == 0 %}
                <a href="/fillcurrentclock/{{area.id}}/9"  class="btn btn-primary">19.00 - 20.00</a>
                {% else %}
                <a class="btn btn-danger">19.00 - 20.00</a>
                {% endif %}
                <br>
                <br>

                {% if area.clocks[0].c12 == 0 %}
                <a href="/fillcurrentclock/{{area.id}}/2"  class="btn btn-primary">12.00 - 13.00</a>
                {% else %}
                <a class="btn btn-danger">12.00 - 13.00</a>
                {% endif %}

                {% if area.clocks[0].c20 == 0 %}
                <a href="/fillcurrentclock/{{area.id}}/10"  class="btn btn-primary">20.00 - 21.00</a>
                {% else %}
                <a class="btn btn-danger">20.00 - 21.00</a>
                {% endif %}
                <br>
                <br>

                {% if area.clocks[0].c13 == 0 %}
                <a href="/fillcurrentclock/{{area.id}}/3"  class="btn btn-primary">13.00 - 14.00</a>
                {% else %}
                <a class="btn btn-danger">13.00 - 14.00</a>
                {% endif %}

                {% if area.clocks[0].c21 == 0 %}
                <a href="/fillcurrentclock/{{area.id}}/11"  class="btn btn-primary">21.00 - 22.00</a>
                {% else %}
                <a  class="btn btn-danger">21.00 - 22.00</a>
                {% endif %}
                <br>
                <br>

                {% if area.clocks[0].c14 == 0 %}
                <a href="/fillcurrentclock/{{area.id}}/4"  class="btn btn-primary">14.00 - 15.00</a>
                {% else %}
                <a  class="btn btn-danger">14.00 - 15.00</a>
                {% endif %}
                {% if area.clocks[0].c22 == 0 %}
                <a href="/fillcurrentclock/{{area.id}}/12"  class="btn btn-primary">22.00 - 23.00</a>
                {% else %}
                <a  class="btn btn-danger">22.00 - 23.00</a>
                {% endif %}
                <br>
                <br>
                {% if area.clocks[0].c15 == 0 %}
                <a href="/fillcurrentclock/{{area.id}}/5"  class="btn btn-primary">15.00 - 16.00</a>
                {% else %}
                <a  class="btn btn-danger">15.00 - 16.00</a>
                {% endif %}
                {% if area.clocks[0].c23 == 0 %}
                <a href="/fillcurrentclock/{{area.id}}/13"  class="btn btn-primary">23.00 - 00.00</a>
                {% else %}
                <a  class="btn btn-danger">23.00 - 00.00</a>
                {% endif %}
                <br>
                <br>
                {% if area.clocks[0].c16 == 0 %}
                <a href="/fillcurrentclock/{{area.id}}/6"  class="btn btn-primary">16.00 - 17.00</a>
                {% else %}
                <a  class="btn btn-danger">16.00 - 17.00</a>
                {% endif %}
                {% if area.clocks[0].c24 == 0 %}
                <a href="/fillcurrentclock/{{area.id}}/14"  class="btn btn-primary">00.00 - 01.00</a>
                {% else %}
                <a  class="btn btn-danger">00.00 - 01.00</a>
                {% endif %}
                <br>
                <br>
                {% if area.clocks[0].c17 == 0 %}
                <a href="/fillcurrentclock/{{area.id}}/7"  class="btn btn-primary">17.00 - 18.00</a>
                {% else %}
                <a  class="btn btn-danger">17.00 - 18.00</a>
                {% endif %}

              </td>
            </tbody>
        </table>
    </div>
    
  
  {% for comment in comments  %}
    
<div class="container">
  <div class="row">
  <div class="col-sm-1">
  <div class="thumbnail">
  <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
  </div><!-- /thumbnail -->
  </div><!-- /col-sm-1 -->
  
  <div class="col-sm-5">
  <div class="panel panel-default">
  <div class="panel-heading">
  <strong>{{comment.owner_User}}</strong> <span class="text-muted">commented on {{comment.Day}}/{{comment.Month}}/{{comment.Year}} at {{comment.Hour}}:{{comment.Minute}}</span>
  </div>
  <div class="panel-body">
  {{comment.Com}}
  </div><!-- /panel-body -->
  </div><!-- /panel panel-default -->
  </div><!-- /col-sm-5 -->
  
      
    {% endfor %}  
    <form id="owner" class="input-group" action="/addComment/{{area.id}}" method="POST">
      <input type="text" name="Comment" class="input-field" placeholder="Comment" required> 
      <button type="submit" class="submit-btn">Comment</button>
  
  </form>  
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

      
</body>
</html>
