<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home Page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type="text/css" href="/static/style_homepage.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <div class ="menu-bar">
        <ul>
            <li><a href="/homepage">HOMEPAGE</a></li>
            <li><a href="/appointment">APPOINTMENT</a></li>
            <li><a href="/aboutus">ABOUT US</a></li>
            <li><a href="/contactus">CONTACT</a></li>
            <li><a href="/myprofil">MyProfil</a></li>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Sıgn In/Up
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="/signin">Sign In</a>
                  <a class="dropdown-item" href="/signup">Sıgn Up</a>
                </div>
              </div>
        </ul>
    </div>
    <div class="container1">
        <img src="/static/images/halısaha.jpg" alt="" class="Image1">
        <img src="/static/images/halısaha3.jpg" alt="" class="Image2">
        <img src="/static/images/halısaha2.jpg" alt="" class="Image3">
        
    </div>
    <div class="container2">
        <p class="Parag1">What is the Football <br> Appointment App</p>
        <p class="Soru">?</p>
        <p class="Parag">
            The main purpose of the web application is for those who want 
            to organize a football match to examine the football pitches close to 
            them and make an appointment, and to make such organizations much easier by adding their own businesses to this application.</p>
        
    </div>
    <div class="container3">
        <p class="Parag2">How gonna work</p>
        <img src="/static/images/Icon2.png" alt="" class="Icon1">
        <p class="Icon1Parag">
            Make an appointment</p>
            <img src="/static/images/Icon1.jpg" alt="" class="Icon2">
        <p class="Icon2Parag">
            Play football</p>
    </div>
</body>
</html>