<!DOCTYPE html>
<html>
<head>
    <title>Profil</title>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type="text/css" href="/static/style_myprofil.css">
    <script src='main.js'></script>
</head>
<body>
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class ="menu-bar">
        <ul>
            <li><a href="/homepage">HOMEPAGE</a></li>
            <li><a href="/signin">SIGN IN</a></li>
            <li><a href="/signup">SIGN UP</a></li>
            <li><a href="/appointment">APPOINTMENT</a></li>
            <li><a href="/aboutus">ABOUT US</a></li>
            <li><a href="/contactus">CONTACT</a></li>
            <li><a href="/myprofil">MyProfil</a></li>
        </ul>
    </div>
    <div class="card">
    <img src="/static/images/p.jpg" alt="John" style="width:100%">
    <h1 class="Nametitle">John Doe</h1>
    <p class="title">5*********</p>
    <p class="title">Cumhuriyet, 2254. Sk. <br>
        No:2, 41400  Gebze/Kocaeli<br>
       GTU</p>
       <p class="title">Rating = 7.8</p>   
    <a href="#"><i class="fa fa-dribbble"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <p><button><a href="/addFootballArea">Add Football Area</a></button></p>
    </div>
</body>
</html>