body{
  
  margin: 0;
  padding: 0;
}
.container1{
  background-image: url(/static/images/black9.jpg);
  height: 300px;
  width: 1519px;
  background-color: white;
  margin-left: 0px;
  
}
.container2{
  height: 300px;
  width: 1519px;
  background-color: green;
  margin-left: 0px;
  
}
.container3{
  height: 300px;
  width: 1519px;
  background-color: black;
  margin-left: 0px;
  
}
.Image1{
  position: absolute;
  border: solid;
  top: 20%;
  left: 5%;
  height: 200px;
  width: 350px;
}
.Image2{
  position: absolute;
  border: solid;
  top: 20%;
  left: 37%;
  height: 200px;
  width: 350px;
}
.Image3{
  position: absolute;
  border: solid;
  top: 20%;
  left: 70%;
  height: 200px;
  width: 350px;
}
.Parag{
  top: 75%;
  left: 10%;
  position: absolute;
  font-size: 20px;
}
.Parag1{
  top: 57%;
  left: 10%;
  position: absolute;
  font-size: 30px;
}
.Soru{
  top: 45%;
  left: 30%;
  position: absolute;
  font-size: 100px;
}
.Parag2{
  top: 85%;
  left: 35%;
  position: absolute;
  font-size: 70px;
  color: white;
}
.Icon1{
  position: absolute;
  border: solid;
  border-color: greenyellow;
  border-width: 10px;
  top: 107%;
  left: 35%;
  height: 100px;
  width: 150px;
  background-color: white;
}
.Icon1Parag{
  position: absolute;
  top: 124%;
  left: 35%;
  font-size: 20px;
  color: white;
  
}
.Icon2{
  position: absolute;
  border: solid;
  border-color: greenyellow;
  border-width: 10px;
  top: 107%;
  left: 55%;
  height: 100px;
  width: 150px;
  background-color: white;
}
.Icon2Parag{
  position: absolute;
  top: 124%;
  left: 55%;
  font-size: 20px;
  color: white;
  
}
.menu-bar
{
    background: rgb(0, 75, 13);
    text-align: center;
}
.menu-bar ul
{
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.menu-bar ul li
{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a
{
    text-decoration: none;
    color: #fff;
}
.active, .menu-bar ul li:hover
{
    background: #00ff40;
    border-radius: 3px;
}
