body{
  background: url(/static/images/back2.jpg) no-repeat;
  background-size:cover;
  margin: 0;
  padding: 0;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(7, 236, 26, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
  }
  
  .title {
    color: rgb(11, 236, 29);
    font-size: 18px;
  }
  .Nametitle {
    color: rgb(11, 236, 29);
    
  }
  
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: rgb(34, 252, 6);
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
  .menu-bar
{
  background : transparent;
  transition: background-color 1s ease 0s;

  text-align: center;
}
.menu-bar ul
{
    display: inline-flex;
    list-style: none;
    color: #fff;
    font-size: 4px;
}
.menu-bar ul li
{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a
{
    text-decoration: none;
    color: #fff;
}
.active, .menu-bar ul li:hover
{
    background: #00ff40;
    border-radius: 3px;
}
