{% extends "base.html"%}
{% block title %}
Appoinment
{% endblock %}
{% block content %}

    <div class="container">

        <div class="content">

           <div class="form-box">

                <div class = "form-cities">
                    <form id="user" class="input-group">
                    <label for="City">City:</label>
                    <select name="City" id="City" form="cityform" required>
                    <option value="istanbul">Istanbul</option>
                    <option value="bursa">Bursa</option>
                    <option value="izmir">Izmir</option>
                    <option value="adana">Adana</option>
                    </select>
                    </form>
                </div>

                <div class = "date">
                    <label for="date">Date:</label>
                    <input type="date" id="Date" name="Date" required>
                </div>
                
                <div class = "skills">
                    <button type="submit" class="submit-btn">Check</button>
                </div>
            </div>

        </div>
   
        <div class="empty">

        </div>

    </div>    
{% endblock %}