<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_contactus.css')}}">

</head>

    <div class="container">
        <header>
            <h1>Contact Us</h1>
            <p>Your feedback is very important to us, do not forget your criticism is our development!</p>
        </header>
        <div class ="logo"><a href ="#"><img src ="{{ url_for('static', filename='images/logo.png')}}"></a></div>
        <div class ="menu-bar">
            <ul>
                <li><a href="/homepage">HOMEPAGE</a></li>
                <li><a href="/signin">SIGN IN</a></li>
                <li><a href="/signup">SIGN UP</a></li>
                <li><a href="/appointment">APPOINTMENT</a></li>
                <li><a href="/aboutus">ABOUT US</a></li>
                <li><a href="/contactus">CONTACT</a></li>
            </ul>
        </div>
        <div class="content">
            <div class="content-form">
                <section>
                    <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
                    <h2>address</h2>
                    <p>
                        Cumhuriyet, 2254. Sk. <br>
                         No:2, 41400  Gebze/Kocaeli<br>
                        GTU
                    </p>
                </section>

                <section>
                    <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
                    <h2>Phone</h2>
                    <p>02360000000</p>
                </section>

                <section>
                    <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                    <h2>E-mail</h2>
                    <p>thisIsAn@temporary.email</p>
                </section>
            </div>
        </div>

      <form>
        <div class="form">
            <div class="right">
              <div class="contact-form">
                  <input type="text" >
                  <span>Full Name</span>
              </div>
  
              <div class="contact-form">
                  <input type="E-mail" >
                  <span>E-mail Id</span>
              </div>
              <div class="contact-form">
                  <textarea name="text">
                    
                  </textarea>
                  <span> Type your Message....</span>
              </div>
  
              <!--<div class="contact-form">
                  <input type="submit" name="submit">
              </div>-->
              <div class="skills">
                <button>Send</button>
            </div>
              </div>
            </div>
          </div>
    </form>
        <div class="media">
            <li><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></li>
            <li><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></li>
            <li><i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i></li>
            <li><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></li>
        </div>
        <div class="empty">

        </div>

    </div>    
</body>
</html>