<!DOCTYPE html>
<html lang="en" class="theme-light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style_homepage.css" type="text/css" />
    <link rel="stylesheet" href="/static/theme.js" type="text/css" />

</head>

<body>
    <div class="container">
        <div class ="logo"><a href ="/homepage"><img src ="{{ url_for('static', filename='images/logo.png')}}"></a></div>
        <div class ="menu-bar">
            <ul>
                <li><a href="/homepage">HOMEPAGE</a></li>
                <li><a href="/signin">SIGN IN</a></li>
                <li><a href="/signup">SIGN UP</a></li>
                <li><a href="/appointment">APPOINTMENT</a></li>
                <li><a href="/aboutus">ABOUT US</a></li>
                <li><a href="/contactus">CONTACT</a></li>
            </ul>
        </div>
        <button id="switch" onclick="toggleTheme()">Switch</button>
        
        <p class="Title-Goal">Goal Ranking</p>
        <ul class ="GoalRanking">
            <li>Yiğit</li>
            <li>Musa</li>
            <li>Erdi</li>
            <li>Muhammed</li>
            <li>Ömer Faruk</li>
          </ul>
          <p class="Title-Team">Goal Ranking</p>
          <ul class ="TeamRanking">
              <li>Bayern Münih</li>
              <li>Liverpool</li>
              <li>Manchester City</li>
              <li>Real Madrid</li>
              <li>Barcelona</li>
            </ul>
            <!-- Load icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- The form -->
<form class="example" action="action_page.php">
  <input type="text" placeholder="Search.." name="search">
  <button type="submit"><i class="fa fa-search"></i></button>
</form>    
    </div>
    
    
    <script>
        // function to set a given theme/color-scheme
        function setTheme(themeName) {
            localStorage.setItem('theme', themeName);
            document.documentElement.className = themeName;
        }

        // function to toggle between light and dark theme
        function toggleTheme() {
            if (localStorage.getItem('theme') === 'theme-dark') {
                setTheme('theme-light');
            } else {
                setTheme('theme-dark');
            }
        }

        // Immediately invoked function to set the theme on initial load
        (function () {
            if (localStorage.getItem('theme') === 'theme-dark') {
                setTheme('theme-dark');
            } else {
                setTheme('theme-light');
            }
        })();
    </script>
</body>

</html>